body {
  text-align: center;
}

#wrapper {
  width: 960px;
  margin: 0 auto;
  text-align: left;
  height: auto;
}

header {
  background-color: #c2d3dd;
}

div#content {
  background-color: #b38da4;
}

footer{
  background-color: #f9ebd1;
}
