/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
        全体のCSS
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/

body {
  text-align: center;
}

#wrapper {
  width: 960px;
  margin: 0 auto;
  text-align: left;
  height: auto;
}

#wrapper::after {
  display: block;
  clear: both;
  content: "";
}

/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
        ヘッダー部分のCSS
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
header {
  background-color: #c2d3dd;
}

.firtstcomment {
  font-size: 0.5em;
}

h1 {
  font-size: 2em;
  width: auto;
  float: left;
}

nav {
float: left;
}
/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
        メインコンテンツのCSS
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
div#content {
  background-color: #b38da4;
}
/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
        フッター部分のCSS
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/

footer{
  background-color: #f9ebd1;
}
